.todoItemView {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px auto;
  border-radius: 5px;
  min-width: 400px;
  padding: 14px;
  width: 80%;
  background: #fff;
  cursor: pointer;
}

.todoItemView:hover {
  background-color: #eee;
}
