.todoForm {
  margin-top: 25px;
}

.inputField {
  padding: 14px 32px 14px 16px;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 80%;
  box-shadow: inset 0 -2px 1px rgb(0 0 0 / 3%);
  font-size: 16px;
  line-height: 1.5em;
}
