.statusButtonGroup {
  margin-top: 10px;
  margin-bottom: 10px;
}

.statusButton {
  color: rgba(209, 69, 69, 0.7) !important;
}

.active {
  border-bottom: 2px solid rgb(184, 184, 184) !important;
}
