.todoApp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-width: 480px;
  max-width: 768px;
  min-height: 600px;
  background: #eeeeee;
  text-align: center;
  margin: 25px auto;
  border-radius: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.todoTitle {
  font-size: 72px;
  font-weight: 500;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}
